.hero-banner {
	background: linear-gradient(to right, #007bff, #00c6ff) !important;
}

.card-hover:hover {
	transform: translateY(-5px);
	transition: transform 0.3s ease;
}

.product-image {
	height: 180px;
	object-fit: cover;
}
